<div class="links" ng-controller="LinksCtrl as ctrl">
	<div class="col-sm-4 panel">
		<div class="panel-body">
			<h4 class="text-center"><i class="fa fa-user fa-fw"></i></h4>
			<p class="text-muted">
				How loose is your mind juice?  Try to come up with the most free associations before the time runs out.
			</p>
			<p class="text-center">
				<button class="btn btn-color" ng-click="ctrl.startSingleGame()">
					Play!
				</button>
			</p>
		</div>
	</div>
	<div class="col-sm-4 panel">
		<div class="panel-body">
			<h4 class="text-center"><i class="fa fa-users fa-fw"></i></h4>
			<p class="text-muted">
				Think fast! Pit your mind against your friends and see what's really going on in there.
			</p>
			<p class="text-center">
				<button class="btn btn-color" ng-click="ctrl.startMultiGame()">
					Play!
				</button>
			</p>
		</div>
	</div>
	<div class="col-sm-4 panel">
		<div class="panel-body">
			<h4 class="text-center"><i class="fa fa-cogs fa-fw"></i></h4>
			<p class="text-muted">
				Edit your name and favorite color.  Also take a survey to help us get more data!
			</p>
			<p class="text-center">
				<a class="btn btn-color" href="#/playerProfile">
					Edit!
				</a>
			</p>
		</div>
	</div>
</div>
