html,
body {
	height: 100%;
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin-bottom: 0px;
	padding-left: 20px;
}
.center-container > div {
	height:100%;
}

.fade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-o-transition: all 0.75s ease;
	transition: all 0.75s ease;
}
.fade.ng-enter {
	opacity: 0;
}
.fade.ng-enter-active {
	opacity: 1;
}
.fade.ng-leave {
	opacity: 1;
}
.fade.ng-leave-active {
	opacity: 0;
}
