<div class='page-game {{color.css_class}}'>

	<a ng-if="!playing" class="navbar-brand" href="#/">Associations</a>

	<div ng-if="playing" class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<span>Time Left: {{timeLeft}}</span>
				<span class="pull-right"><a ng-click="skipWord()">Skip...</a></span>
			</h4>
		</div>
		<div class="panel-body">
			<h2 class="text-center">{{playing.word}}</h2>
		</div>
		<div class="panel-footer">
			<select-word selected="chosenWord" class='select-word'></select-word>
		</div>
	</div>

	<div game-graph
		graph-model="game.players"
		graph-config="graphConfig"
		style="width: 100%; height: 100%;"></div>
</div>
