.page-game {
	.tool() {
		position: absolute;
		z-index: 20;
	}
	@toolSizeMin: 57px;
	@toolSizeMax: 150px;
	@animation-duration: 0.4s;

	.navbar-brand {
		.tool;
	}
	.players {
		.tool;
		.transition(@animation-duration);

		top: 0;
		right: 0;


		@media all and (orientation:portrait) {
			width: @toolSizeMin;

			.btn {
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			& > .btn:not(:last-child) {
				border-bottom-left-radius: 0;
			}
		}
		@media all and (orientation:landscape) {
			height: @toolSizeMin;

			.btn {
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			& > .btn:not(:first-child) {
				border-bottom-left-radius: 0;
			}
		}

		.btn {
			.transition(@animation-duration);
			&,* {
				.text-overflow();
			}
			width: @toolSizeMin;
			max-height: @toolSizeMin;

			&.expander {
				i {
					padding-top: 7px;
				}
				background: transparent;
				border: none;
			}
		}
		&.expanded {
			@media all and (orientation:portrait) {
				width: @toolSizeMax;
			}
			@media all and (orientation:landscape) {
				height: @toolSizeMax;
			}
			.btn {
				width: @toolSizeMax;
				max-height: @toolSizeMax;
			}
		}
	}
	.word-entry {
		.tool;
		background: @body-bg;

		left: 50%;

		width: 300px;
		margin-left: -150px;

		border-top-right-radius: 0 !important;
		border-top-left-radius: 0 !important;
		border-top-width: 0px !important;

		@media (min-width: @screen-sm-min) {
			width: 460px;
			margin-left: -230px;
		}

		@media (min-width: @screen-md-min) {
			width: 690px;
			margin-left: -345px;
		}

		@media (min-width: @screen-lg-min) {
			width: 900px;
			margin-left: -450px;
		}
	}

	.chat {
		.tool;
		.transition(@animation-duration);

		margin-bottom: 0;
		bottom: @padding-base-horizontal;
		left: @padding-base-horizontal;

		width: @toolSizeMin;
		max-height: @toolSizeMin;
		overflow: hidden;

		.player {
			max-width: 110px;
			.text-overflow();
		}
		.messages {
			max-height: 250px;
			overflow-y: auto;
			overflow-x: hidden;

			@media (max-height: 450px) {
				height: 100px;
			}
		}

		&.expanded {
			width: calc(~"100% - 32px");
			max-height: 390px;

			@media (min-width: @screen-xs-min) {
				width: 400px;
			}
		}
		&.chat-badge {
			width: @toolSizeMin *2;
		}
	}

	.context-controls {
		.tool;
		.transition(@animation-duration);

		margin-bottom: 0;
		bottom: @padding-base-horizontal;
		right: @padding-base-horizontal;
		h5 {
			margin: 0;
		}
		a {
			margin-left: 10px;
		}

		&.ng-enter,
		&.ng-leave.ng-leave-active {
		  opacity:0;
		}

		&.ng-leave,
		&.ng-enter.ng-enter-active {
		  opacity:1;
		}
	}

}
