.page-game {
	.tool() {
		position: absolute;
		z-index: 20;
	}

	.navbar-brand {
		.tool;
	}
	.players {
		.tool;
		top: @padding-base-horizontal;
		right: @padding-base-horizontal;

		.btn {
			&,* {
				.text-overflow();
			}
			max-width: 200px;

			&.winner {
				border-width: 5px;
			}
		}
		&.collapsed .btn {
			max-width: 50px;
			max-height: 50px;
		}
	}
	.word-entry {
		.tool;

		left: 50%;
		background: @body-bg;

		width: 300px;
		margin-left: -150px;

		@media (min-width: @screen-sm-min) {
			width: 460px;
			margin-left: -230px;
		}

		@media (min-width: @screen-md-min) {
			width: 690px;
			margin-left: -345px;
		}

		@media (min-width: @screen-lg-min) {
			width: 900px;
			margin-left: -450px;
		}
	}
}
