<div class='page-game {{color.css_class}}'>

	<a ng-if="!playing" class="navbar-brand" href="#/">Associations</a>

	<div ng-if="playing" class="word-entry panel panel-default">
		<div class="panel-heading">
			<h4>
				<span>Time Left: {{timeLeft}}</span>
				<span class="pull-right"><a ng-click="skipWord()">Skip...</a></span>
			</h4>
		</div>
		<div class="panel-body">
			<h2 class="text-center">{{playing.word}}</h2>
		</div>
		<div class="panel-footer">
			<select-word selected="chosenWord" class='select-word'></select-word>
		</div>
	</div>

	<div class="players btn-group-vertical"  ng-class="{collapsed:!playersExpanded}">
		<button
			ng-repeat="p in game.players"
			ng-disabled="playing || !p.completed"
			ng-click="activatePlayer(p)"
			class="player btn {{((p.completed || playing) && p.color.css_class) || 'btn-default'}}"
			ng-class="{active: p.active, 'btn-sm':!playersExpanded, winner:p.winner}">
			<div ng-if="playersExpanded">
				<h4>{{p.alias}}</h4>
				<p>
					{{getStatus(p)}}
				</p>
			</div>
			<div ng-if="!playersExpanded">
				{{p.alias | limitTo:1}}
			</div>
		</button>
		<button class="btn btn-default" ng-disabled="playing" ng-click="playersExpanded=!playersExpanded" ng-class="{'btn-sm':!playersExpanded}">Expand</button>
	</div>

	<div game-graph
		graph-model="game.players"
		graph-config="graphConfig"
		graph-playing="playing"
		style="width: 100%; height: 100%;"></div>
</div>
