<div class="row">
	<div class="col-xs-9 vcenter">
		<div class="row">
			<div class="col-xs-9 player-name">
				<span ng-if="playerSelected(player)"><strong>{{player.alias}}</strong></span>
				<span ng-if="!playerSelected(player)" class="text-muted">{{player.alias}}</span>
			</div>
			<div class="col-xs-3">
			</div>
		</div>
	</div><!--
--><div class="col-xs-3 vcenter">
		<button class="checkbox btn btn-xs btn-color pull-right" ng-click="togglePlayer(player)">
			<span ng-if="!playerSelected(player)">&nbsp;</span>
			<span ng-if="playerSelected(player)"><i class="fa fa-check"></i></span>
		</button>
	</div>
</div>
