<div>
	<div class="page-menu">
		<a class="pull-left" href="#/"><span>Main Menu</span></a>
		<a class="pull-right" ng-class="{selected:mode == 2}" ng-click="mode = 2"><span>Two Words</span></a>
		<a class="pull-right" ng-class="{selected:mode == 1}" ng-click="mode = 1"><span>One Word</span></a>
	</div>
	<select-word id="enterSingleWord" selected="selected" class="node-enter-word"></select-word>
	<div word-graph graph-model="model" graph-config="diagramConfig" graph-on-click="onGraphClick(word)" style="width: 100%; height: 100%;"></div>
</div>
