html,
body {
	height: 100%;
}
body {
	background: black;
}

#wrap {
	min-height: 100%;
	height: 100%;
	margin: 0 auto -32px 0;
	padding: 0 0 30px 0;
}

#footer {
	height: 30px;
}

.center-container > div {
	height:100%;
}

.page-menu {
	position: absolute;
	width: 100%;
	height: 50px;
	z-index: 100;
}
.page-menu-left {
	line-height: 50px;
	float: left;
	padding: 0 15px 0 15px;
}
.page-menu-right {
	line-height: 50px;
	float: right;
	padding: 0 15px 0 15px;
}

.node-title {
	padding: 5px;
	background: white;
	font: bold 30px arial, sans-serif;
	border-radius: 25px;

	position: absolute;
	z-index:20;
}

.node-word {
	padding: 5px;
	background: lightgrey;
	font: 12px arial, sans-serif;
	border-radius: 5px;

	position: absolute;
	z-index:20;
}

.node-enter-word {
	padding: 5px;
	background: lightgrey;
	font: 12px arial, sans-serif;
	border-radius: 5px;
	min-width: 200px;

	position: absolute;
	z-index:20;
}

.node-link {
	padding: 5px;
	background: white;
	font: 18px arial, sans-serif;
	border-radius: 10px;

	position: absolute;
	z-index:20;
}
._jsPlumb_connector { z-index:4; }
._jsPlumb_connector * {
	stroke:lightblue;
	fill:lightblue;
}

._jsPlumb_endpoint { z-index:5; }
._jsPlumb_endpoint circle {
	stroke:lightblue;
	fill:lightblue;
}
._jsPlumb_overlay { z-index:6; }

@media (min-width: 768px) {
	.node-title {
		padding: 10px;
	}

	.node-word {
		padding: 10px;
	}

	.node-enter-word {
		padding: 10px;
	}

	.node-link {
		padding: 10px;
	}
}

@media (min-width: 992px) {
	.node-title {
		padding: 15px;
	}

	.node-word {
		padding: 15px;
	}

	.node-enter-word {
		padding: 15px;
	}

	.node-link {
		padding: 15px;
	}
}

@media (min-width: 1200px) {
	.node-title {
		padding: 20px;
	}

	.node-word {
		padding: 20px 15px;
	}

	.node-enter-word {
		padding: 20px 15px;
	}

	.node-link {
		padding: 20px 15px;
	}
}
