html,
body {
	height: 100%;
}
body {
	background: black;
}

#footer {
	position: absolute;
	height: 30px;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
	margin-top: -1px;
	width: 100%;
}
#footer p {
	margin: 0 15px 0 15px;
	line-height: 30px;
}
.center-container > div {
	height:100%;
}

.fade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-o-transition: all 0.75s ease;
	transition: all 0.75s ease;
}
.fade.ng-enter {
	opacity: 0;
}
.fade.ng-enter-active {
	opacity: 1;
}
.fade.ng-leave {
	opacity: 1;
}
.fade.ng-leave-active {
	opacity: 0;
}

.page-menu {
	position: absolute;
	width: 100%;
	height: 50px;
	z-index: 100;
	background: rgba(0,0,0,0.5);
	border-bottom-color: blueviolet;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.page-menu a {
	width: 100px;
	height: 37px;
	line-height: 32px;
	margin: 5px 15px 0px 15px;
	background: transparent;
	color: white;
	border-style: none;
	border-bottom-color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.page-menu a.selected{
	border: 2px solid white;
	background: rgba(265,256,256,0.2);
}

.page-menu a:hover {
	background: rgba(265,256,256,0.2);
}

.node-title {
	padding: 5px;
	background: black;
	color: white;
	border: 2px solid white;
	font: bold 30px arial, sans-serif;
	border-radius: 25px;

	position: absolute;
	z-index:20;
}

.node-word {
	padding: 5px;
	background: black;
	color: white;
	border: 2px solid white;
	font: bold 18px arial, sans-serif;
	border-radius: 10px;

	position: absolute;
	z-index:20;
}

.node-enter-word {
	margin: auto;
	top: 0; right: 0; bottom: 0; left: 0;
	height: 52px;
	width: 200px;

	font: 12px arial, sans-serif;

	position: absolute;
	z-index:20;

	-webkit-transition: 0.25s linear all;
	transition: 0.25s linear all;
}
.node-enter-word.source {
	right: calc(100% - 220px);
}
.node-enter-word.target {
	left: calc(100% - 220px);
}
.node-enter-word.target.ng-hide {
	left: 0;
}

.node-enter-word button,  .node-enter-word input{
	color: white;
	background: black;
	border-width: 3px;
	font-size: 24px;
}
.node-enter-word button span {
	color: white;
}
.node-enter-word button:hover{
	background: #222;
	color: white;
	border-color: white
}
.node-enter-word .ui-select-choices{
	background: black;
	border: 1px solid white;
}
.node-enter-word .ui-select-choices .ui-select-choices-row-inner{
	color: white;
}

.node-link {
	padding: 5px;
	background: black;
	color: blueviolet;
	border: 2px solid white;
	font: bold 24px arial, sans-serif;
	border-radius: 10px;
	text-decoration: none;

	position: absolute;
	z-index:20;
}
.node-link:hover {
	background: #222;
	border-width: 3px;
	text-decoration: none;
	color: blueviolet;
}

._jsPlumb_connector { z-index:4; }
._jsPlumb_connector * {
	stroke:blueviolet;
	fill:blueviolet;
}
._jsPlumb_overlay { z-index:6; }

@media (min-width: 768px) {
	.node-title {
		padding: 10px;
	}

	.node-word {
		padding: 5px 10px;
	}

	.node-link {
		padding: 10px 10px;
	}
}

@media (min-width: 992px) {
	.node-title {
		padding: 15px;
	}

	.node-word {
		padding: 5px 15px;
	}

	.node-link {
		padding: 10px 15px;
	}
}

@media (min-width: 1200px) {
	.node-title {
		padding: 20px;
	}

	.node-word {
		padding: 5px 15px;
	}

	.node-link {
		padding: 10px 15px;
	}
}
