<div class="page-landing">
	<div class="jumbotron bg-color text-center">
		<div class="container">
			<h1>
				<i class="fa fa-star"></i>
			</h1>
			<h1>
				Wordulous
			</h1>
			<p>
				Some description of the game goes here.  Not sure what yet
			</p>
			<p ng-if="!authenticated">
				<button class="btn btn-lg btn-default" ng-click="logIn()">Log in</button>
			</p>
		</div>
	</div>
	<div class="container">
		<div class="page-header">
			<h1>Explore <small>What do others think?</small></h1>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						Some chart goes here
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						Some chart goes here
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>Search words</h4>
						<p>
							Enter a word and see how it is connected to other words.  Powered by the human mind!
						</p>
						<p class="text-center">
							<a class="btn btn-color" href="#/exploreWords">Go there</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
