<div class="page-landing" infinite-scroll="page()" infinite-scroll-distance="1" infinite-scroll-listen-for-event="landingSections:update">
	<div class="jumbotron bg-color text-center">
		<div class="container">
			<img src="assets/img/logo.svg" class="img-responsive center-block">
			<h1>
				ThinkyLinks
			</h1>
			<p>
				A super fun free association game you can play with your friends.
			</p>
			<p ng-if="!authenticated.value">
				<button class="btn btn-lg btn-default" ng-click="logIn()">Log in</button>
			</p>
		</div>
	</div>
	<div ng-repeat="section in sections | filter:filterSections" class="section" ng-class="{even: $even, odd: $odd}">
		<div class="container">
			<div class="row">
				<div class='col-xs-12 page-header text-center' ng-if="section.title">
					<h1 class='text-center'>
						{{section.title}}
					</h1>
				</div>
			</div>
			<div ng-repeat="component in section.components" ng-class="{padded:($last || component == 'break')}" class="row">
				<div ng-if="component != 'break'" ng-include="component">
				</div>
			</div>
		</div>
	</div>
</div>
