<div class="page-landing" infinite-scroll="page()" infinite-scroll-distance="1">
	<div class="jumbotron bg-color text-center">
		<div class="container">
			<h1>
				<i class="fa fa-star"></i>
			</h1>
			<h1>
				Wordulous
			</h1>
			<p>
				Some description of the game goes here.  Not sure what yet
			</p>
			<p ng-if="!authenticated.value">
				<button class="btn btn-lg btn-default" ng-click="logIn()">Log in</button>
			</p>
		</div>
	</div>
	<div ng-repeat="section in sections | filter:filterSections" class="section" ng-class="{even: $even, odd: $odd}">
		<div class="container">
			<div class="row">
				<div ng-repeat="component in section.components" ng-include="component">
				</div>
			</div>
		</div>
	</div>
</div>
