@import "pages/landing/components/links/components/selectPlayer/selectPlayer.less";

@big-icon: @font-size-large * 3;

.page-landing {
	img {
		width: 220px;
	}
	.jumbotron {
		margin-bottom: 0;
		padding-bottom: 100px;
		.btn {
			background: transparent;
		}
	}
	.section {
		.padded.row {
			padding-bottom: 100px;
		}

		&.even {
			background: #0b0b0b;
		}
		&.odd {
			background: #121212;
		}
	}
	.welcome {
		h1 {
			margin: @font-size-h1 * @line-height-base 0 @font-size-h1;
		}
	}
	.links {
		h4 {
			font-size: @big-icon;
		}
	}
	.locked {
		.well;
		.text-muted;
		padding-bottom: 36px;
	}
	.locked-icon {
		font-size: @big-icon;
		.locked-text {
			color: @body-bg;
		}
	}
	.pendingGames {
		h4 {
			position: relative;
			.decline {
				position: absolute;
				right: 0;
				a {
					cursor: pointer;
				}
			}
		}
	}
	.past-games-list {
		.player-name, .picks {
			.text-overflow();
		}
	}
	.playerLevel {
		.level {
			font-size: @big-icon;
			.level-text {
				color: @body-bg;
			}
		}
	}
	.playerNormal {
		.normal {
			font-size: @big-icon * 1.5;
			line-height: @big-icon * 1.5;
		}
	}
}
