<div class="playerNormal" ng-controller="PlayerNormalCtrl as ctrl">
	<div lock-switch lock="playerNormal">
		<div unlocked>
			<div class="col-sm-9">
				<p ng-bind="ctrl.converter.toText(data.normal)">
				</p>
			</div>
			<div class="col-sm-3 text-center">
				<span class="normal">
					<i ng-class="ctrl.converter.toClass(data.normal)"></i>
				</span>
			</div>
		</div>
		<div locked class="text-muted">
			<div class="col-xs-12 text-center">
				<h4>
					Weirdness Score unlocked at level {{data.level}}
				</h4>
			</div>
		</div>
	</div>
</div>
