<div class="past-games-list" ng-controller="PastGamesListCtrl as ctrl">
	<div class="col-xs-12 col-sm-8">
		<h2>
			Past Games
			<span><button class="btn btn-color" ng-class="{active: !ctrl.multi}" ng-click="ctrl.setMode(false)"><i class="fa fa-user"></i></button></span>
			<span><button class="btn btn-color" ng-class="{active: ctrl.multi}" ng-click="ctrl.setMode(true)"><i class="fa fa-users"></i></button></span>
		</h2>
	</div>
	<div class="hidden-xs col-sm-4">
		<h2>
			Stats
		</h2>
	</div>
	<div class="col-sm-8 col-xs-12">
		<div class="panel panel-default">
			<div class="list-group panel-body">
				<div ng-repeat="game in ctrl.games" class="list-group-item">
					<div class="row">
						<div class="col-xs-9 vcenter">
							<div class="row" ng-repeat="player in game.players | orderBy : 'alias'">
								<div class="col-xs-8 player-name">
									<span ng-if="player.winner"><strong><i class="fa fa-star"></i> {{player.alias}}</strong></span>
									<span ng-if="!player.winner" ng-class="{'text-muted':ctrl.multi}">{{player.alias}}</span>
								</div>
								<div class="col-xs-4">
									<span ng-if="player.winner"><strong>{{player.score}}</strong>&nbsp;&nbsp;&nbsp;<i class="{{ctrl.getNormal(player)}}"></i></span>
									<span ng-if="!player.winner && player.completed" ng-class="{'text-muted':ctrl.multi}">{{player.score}}&nbsp;&nbsp;&nbsp;<i class="{{ctrl.getNormal(player)}}"></i></span>
									<span ng-if="!player.completed" class="text-muted">...</span>
								</div>
							</div>
						</div><!--
					--><div class="col-xs-3 vcenter">
							<button class="btn btn-xs btn-color pull-right" ng-click="ctrl.gotoGame(game)">
								<i class="fa fa-search"></i>
								<span ng-if="game.unreadChats > 0" class="badge" >{{game.unreadChats}}</span>
							</button>
						</div>
					</div>
				</div>
				<div ng-if="!ctrl.games.length" class="list-group-item disabled">
					<h5>No recent games.  Go play some!</h5>
				</div>
			</div>
		</div>
		<a class="pull-right" href="" ng-click="ctrl.loadMore()" ng-if="ctrl.hasMore">More...</a>
	</div>
	<div class="visible-xs col-xs-12">
		<h2>
			Stats
		</h2>
	</div>
	<div class="col-sm-4 col-xs-12">
		<div lock-switch lock="playerGameStats">
			<div unlocked class="well">
				<ul class="list-unstyled">
					<li>
						<span>Games Played</span>
						<span class="pull-right">
							{{data.stats.allgames}}
						</span>
					</li>
					<li>
						<span>High Score</span>
						<span class="pull-right">
							<a href="" ng-click="ctrl.gotoGame(data.highScoreGame)">{{data.highScoreGame.score}}</a>
						</span>
					</li>
					<li>
						<span>Most Words</span>
						<span class="pull-right">
							<a href="" ng-click="ctrl.gotoGame(data.mostPicksGame)">{{data.mostPicksGame.picks}}</a>
						</span>
					</li>
					<li ng-if="ctrl.showPie(data.stats)">
						<div piechart pie-data="ctrl.getPieData(data.stats)" >

						</div>
					</li>
				</ul>
			</div>
			<div locked class="locked">
				<p>
					Unlocked at level {{data.level}}
				</p>
			</div>
		</div>
	</div>
</div>
