<div class="page-player-profile">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">Associations</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-3">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation" ng-class="{active:activePage=='Profile'}"><a ng-click="activePage='Profile'">Profile</a></li>
					<li role="presentation" ng-class="{active:activePage=='Survey'}"><a ng-click="activePage='Survey'">Survey</a></li>
					<li role="presentation" ng-class="{active:activePage=='Statistics'}"><a ng-click="activePage='Statistics'">Statistics</a></li>
				</ul>
			</div>
			<div ng-if="activePage=='Profile'" class="col-md-10 col-sm-9 col-xs-9">
				<div class="row">
					<h1 class="col-sm-12">
						Player Profile
					</h1>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="panel panel-default">
							<div class="panel-body">
								<form class="form-horizontal" name="forms.display">
									<div class="form-group" ng-class="{'has-error':forms.display.displayName.$invalid}">
										<label for="displayName" class="col-sm-3 control-label">
											Name
											<ul ng-show="forms.display.displayName.$invalid" class="list-unstyled">
												<li ng-show="forms.display.displayName.$error.required">* required</li>
											</ul>
										</label>
										<div class="col-sm-9">
										<input class="form-control" id="displayName" name="displayName" placeholder="Enter your display name" ng-model="user.alias" required>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="panel panel-default">

							<div class="panel-heading">
								<h3 class="panel-title">
									Login information
								</h3>
							</div>
							<div class="panel-body" ng-switch="user.provider">
								<div ng-switch-when="google">
									You are logged in with <strong class="google-plus">google-plus</strong>
								</div>
								<div ng-switch-when="facebook">
									You are logged in with <strong class="facebook">facebook</strong>
								</div>
								<div ng-switch-when="twitter">
									You are logged in with <strong class="twitter">twitter</strong>
								</div>
								<form class="form-horizontal" ng-switch-default name="forms.local">
									<div class="form-group" ng-class="{'has-error':forms.local.email.$invalid}">
										<label for="email" class="col-sm-3 control-label">
											Email
											<ul ng-show="forms.local.email.$invalid" class="list-unstyled">
												<li ng-show="forms.local.email.$error.required">* required</li>
												<li ng-show="forms.local.email.$error.email">* invalid</li>
											</ul>
										</label>
										<div class="col-sm-9">
											<input type="email" required class="form-control" id="email" name="email" placeholder="Enter your email address" ng-model="user.email">
										</div>
									</div>
									<div class="form-group">
										<label for="password" class="col-sm-3 control-label">Password</label>
										<div class="col-sm-9">
										<input type="password" class="form-control" id="password" name="password" placeholder="{{user.hasPassword?'Enter a new password':'Enter your password (optional)'}}" ng-model="user.password">
										</div>
									</div>
									<div class="form-group" ng-class="{'has-error':forms.local.passwordConfirm.$invalid}">
										<label for="passwordConfirm" class="col-sm-3 control-label">
											Confirm
											<ul ng-show="forms.local.passwordConfirm.$invalid" class="list-unstyled">
												<li ng-show="forms.local.passwordConfirm.$error.match">* doesn't match</li>
												<li ng-show="forms.local.passwordConfirm.$error.required">* required</li>
											</ul>
										</label>
										<div class="col-sm-9">
										<input ng-required='user.password' type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" ng-model="confirmPassword" match="user.password">
										</div>
									</div>

								</form>
							</div>
							<div class="panel-footer">
								<div class="pull-right">
									<a href="/auth/logout" class="btn btn-info btn-xs">Log out</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button ng-click="save()" ng-disabled="forms.local.$invalid || forms.display.$invalid" class="btn btn-primary pull-right">Save Changes</button>
					</div>
				</div>
			</div>
			<div ng-if="activePage=='Survey'" class="col-md-10 col-sm-9 col-xs-9">
				<div class="row">
					<h1 class="col-sm-12">
						Player Survey
					</h1>
				</div></div>
			<div ng-if="activePage=='Statistics'" class="col-md-10 col-sm-9 col-xs-9">
				<div class="row">
					<h1 class="col-sm-12">
						Player Statistics
					</h1>
				</div></div>
		</div>
	</div>
</div>
