<div class="page-player-profile {{profileUser.color.css_class}}">
	<nav class="navbar navbar-default" ng-init="collapse=true">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" ng-click="collapse = !collapse">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars"></i>
					<span class="badge">{{unansweredQuestions || ''}}</span>
				</button>
				<a class="navbar-brand" href="#/">Associations</a>
			</div>
			<div class="navbar-collapse" ng-class="{collapse:collapse}">
				<ul class="nav navbar-nav">
					<li role="presentation" ng-class="{active:activePage=='Profile'}"><a ng-click="activePage='Profile'; collapse = true;">Profile</a></li>
					<li role="presentation" ng-class="{active:activePage=='Account'}"><a ng-click="activePage='Account'; collapse = true;">Account</a></li>
					<li role="presentation" ng-class="{active:activePage=='Survey'}"><a ng-click="activePage='Survey'; collapse = true;">Survey <span class="badge">{{unansweredQuestions || ''}}</span></a></li>
					<li role="presentation" ng-class="{active:activePage=='Statistics'}"><a ng-click="activePage='Statistics'; collapse = true;">Statistics</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 hidden-xs">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation" ng-class="{active:activePage=='Profile'}"><a ng-click="activePage='Profile'">Profile</a></li>
					<li role="presentation" ng-class="{active:activePage=='Account'}"><a ng-click="activePage='Account'">Account</a></li>
					<li role="presentation" ng-class="{active:activePage=='Survey'}"><a ng-click="activePage='Survey'">Survey <span class="badge">{{unansweredQuestions || ''}}</span></a></li>
					<li role="presentation" ng-class="{active:activePage=='Statistics'}"><a ng-click="activePage='Statistics'">Statistics</a></li>
				</ul>
			</div>
			<div ng-if="activePage=='Profile'" class="col-md-10 col-sm-9 col-xs-12">
				<div class="row">
					<h1 class="col-sm-12">
						Profile
					</h1>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<form class="form-horizontal" name="forms.display">
									<div class="form-group" ng-class="{'has-error':forms.display.showErrors && forms.display.displayName.$invalid}">
										<label for="displayName" class="col-sm-3 control-label">
											Name
											<ul ng-show="forms.display.showErrors && forms.display.displayName.$invalid" class="list-unstyled">
												<li ng-show="forms.display.displayName.$error.required">* required</li>
											</ul>
										</label>
										<div class="col-sm-9">
										<input class="form-control" id="displayName" name="displayName" placeholder="Enter your display name" ng-model="profileUser.alias" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">
											Favorite Color
										</label>
										<div class="col-sm-9">
											<div ng-repeat="color in colors" class="col-xs-6 col-sm-4 color-select" >
												<button class="btn btn-sm {{color.css_class}} col-xs-12" ng-class="{'active':profileUser.color.id==color.id}" ng-click="profileUser.color=color">{{color.name}}</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button ng-click="saveProfile()" class="btn btn-color"><i class="fa fa-download"></i> Save</button>
						<span class="save-confirm text-color" ng-if="showProfileConfirm"><i class="fa fa-check"></i> Saved!</span>
					</div>
				</div>
			</div>
			<div ng-if="activePage=='Account'" class="col-md-10 col-sm-9 col-xs-12">
				<div class="row">
					<h1 class="col-sm-12">
						Account
					</h1>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									Login information
								</h3>
							</div>
							<div class="panel-body" ng-switch="accountUser.provider">
								<div ng-switch-when="google">
									You are logged in with <strong class="google-plus">google-plus</strong>
								</div>
								<div ng-switch-when="facebook">
									You are logged in with <strong class="facebook">facebook</strong>
								</div>
								<div ng-switch-when="twitter">
									You are logged in with <strong class="twitter">twitter</strong>
								</div>
								<form class="form-horizontal" ng-switch-default name="forms.local">
									<div class="form-group" ng-class="{'has-error':forms.local.showErrors && forms.local.email.$invalid}">
										<label for="email" class="col-sm-3 control-label">
											Email
											<ul ng-show="forms.local.showErrors && forms.local.email.$invalid" class="list-unstyled">
												<li ng-show="forms.local.email.$error.required">* required</li>
												<li ng-show="forms.local.email.$error.email || forms.local.email.$error.pattern">* invalid</li>
											</ul>
										</label>
										<div class="col-sm-9">
											<input type="email" pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+" required class="form-control" id="email" name="email" placeholder="Enter your email address" ng-model="accountUser.email">
										</div>
									</div>
									<div class="form-group">
										<label for="password" class="col-sm-3 control-label">Password</label>
										<div class="col-sm-9">
										<input type="password" class="form-control" id="password" name="password" placeholder="{{accountUser.hasPassword?'Enter a new password':'Enter a password (optional)'}}" ng-model="accountUser.password">
										</div>
									</div>
									<div class="form-group" ng-class="{'has-error':forms.local.showErrors && forms.local.passwordConfirm.$invalid}">
										<label for="passwordConfirm" class="col-sm-3 control-label">
											Confirm
											<ul ng-show="forms.local.showErrors && forms.local.passwordConfirm.$invalid" class="list-unstyled">
												<li ng-show="forms.local.passwordConfirm.$error.match">* doesn't match</li>
												<li ng-show="forms.local.passwordConfirm.$error.required">* required</li>
											</ul>
										</label>
										<div class="col-sm-9">
										<input ng-required='accountUser.password' type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" ng-model="confirmPassword" match="accountUser.password">
										</div>
									</div>

								</form>
							</div>
							<div class="panel-footer">
								<div class="pull-right">
									<a href="/auth/logout" class="btn btn-color btn-xs"><i class="fa fa-sign-out"></i> Log out</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="!accountUser.provider">
					<div class="col-md-12">
						<button ng-click="saveAccount()" class="btn btn-color"><i class="fa fa-download"></i> Save</button>
						<span class="save-confirm text-color" ng-if="showAccountConfirm"><i class="fa fa-check"></i> Saved!</span>
					</div>
				</div>
			</div>
			<div ng-if="activePage=='Survey'" class="col-md-10 col-sm-9 col-xs-12">
				<div class="row">
					<h1 class="col-sm-12">
						Survey
					</h1>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<form class="form-horizontal" name="forms.survey">
									<div ng-repeat="question in questions" class="form-group">
										<label class="control-label col-sm-6 col-xs-12">{{question.question.text}}</label>
										<div class="btn-group col-sm-6 col-xs-12" role="group">
											<button ng-repeat="answer in question.question.answers" type="button" ng-class="{active:answer.selected}" ng-click="selectAnswer(question, answer)" class="btn btn-default">{{answer.text}}</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="activePage=='Statistics'" class="col-md-10 col-sm-9 col-xs-12">
				<div class="row">
					<h1 class="col-sm-12">
						Statistics
					</h1>
				</div></div>
		</div>
	</div>
</div>
