.page-play-landing {
	.navbar-collapse {
		@media (min-width:@grid-float-breakpoint-max) {
			display: none !important;
		}
	}
	.list-group {
		max-height: 400px;
		overflow-y: auto;
		.list-group-item {
			.btn {
				margin-top: 7px;
			}
			&:hover {
				background-color: @body-bg;
				cursor: pointer;
			}
		}

	}
}
