<div class="page-play-landing" ng-init="activePage='Multi'">
	<nav class="navbar navbar-default" ng-init="collapse=true">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" ng-click="collapse = !collapse">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#/">Associations</a>
			</div>
			<div class="navbar-collapse" ng-class="{collapse:collapse}">
				<ul class="nav navbar-nav">
					<li role="presentation" ng-class="{active:activePage=='Multi'}"><a ng-click="activePage='Multi'; collapse = true;">Multiplayer Game</a></li>
					<li role="presentation" ng-class="{active:activePage=='Single'}"><a ng-click="activePage='Single'; collapse = true;">Solo Game</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-6" ng-class="{'hidden-xs':activePage!='Multi'}">
				<a class="btn btn-color btn-lg btn-block" href="#/playMulti">New Multiplayer Game</a>
				<h4>Pending Games</h4>
				<div class="panel panel-default">
					<div class="list-group panel-body">
						<div ng-repeat="game in games.multiGames | orderBy : sortGames : true | filter : {status:'3'}" class="list-group-item"  ng-include="'pages/playLanding/components/gameRow/gameRow.html'">
						</div>
						<div ng-if="!games.multiGames.length" class="list-group-item disabled">
							<h5>No games have been played</h5>
						</div>
					</div>
				</div>
				<h4>Past Games</h4>
				<div class="panel panel-default">
					<div class="list-group panel-body">
						<div ng-repeat="game in games.multiGames | orderBy : sortGames : true | filter : {status:'!3'}" class="list-group-item"  ng-include="'pages/playLanding/components/gameRow/gameRow.html'">
						</div>
						<div ng-if="!games.multiGames.length" class="list-group-item disabled">
							<h5>No games have been played</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6" ng-class="{'hidden-xs':activePage!='Single'}">
				<button class="btn btn-color btn-lg btn-block" ng-click="startSingleGame()">New Solo Game</button>
				<h4>Past Games</h4>
				<div class="panel panel-default">
					<div class="list-group panel-body">
						<div ng-repeat="game in games.singleGames | orderBy : sortGames : true" class="list-group-item"  ng-include="'pages/playLanding/components/gameRow/gameRow.html'">
						</div>
						<div ng-if="!games.singleGames.length" class="list-group-item disabled">
							<h5>No games have been played</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
