<div class="page-play-landing {{color.css_class}}">
	<nav class="navbar navbar-default" ng-init="collapse=true">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- <button type="button" class="navbar-toggle collapsed" ng-click="collapse = !collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> -->
				<a class="navbar-brand" href="#/">Associations</a>
			</div>
			<div class="navbar-collapse" ng-class="{collapse:collapse}">
				<ul class="nav navbar-nav">
					<!-- <li role="presentation" ng-class="{active:activePage=='Profile'}"><a ng-click="activePage='Profile'">Profile</a></li>
					<li role="presentation" ng-class="{active:activePage=='Account'}"><a ng-click="activePage='Account'">Account</a></li>
					<li role="presentation" ng-class="{active:activePage=='Survey'}"><a ng-click="activePage='Survey'">Survey <span class="badge">{{unansweredQuestions || ''}}</span></a></li>
					<li role="presentation" ng-class="{active:activePage=='Statistics'}"><a ng-click="activePage='Statistics'">Statistics</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<a class="btn btn-color btn-lg btn-block" href="#/playMulti">New Multiplayer Game</a>
				<h4>Past Games</h4>
				<div class="panel panel-default">
					<div class="list-group panel-body">
						<div ng-repeat="game in multiGames" class="list-group-item" ng-click="gotoGame(game)">
							<h5 class="list-group-item-heading">
								<span><strong>{{game.statusText || game.status}}</strong> <span class="badge">{{game.notifications || ""}}</span></span>
								<span class="pull-right">{{game.time | date}}
								</span>
							</h5>
							<p class="list-group-item-text clearfix">
								<span class="text-muted">{{formatPlayerNames(game.players)}}</span>
								<button ng-if="game.status == 'Completed'" class="btn btn-xs btn-color pull-right" ng-click="rematch(game, $event)">Rematch</button>
							</p>
						</div>
						<div ng-if="!multiGames.length" class="list-group-item disabled">
							<h5>No games have been played</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<button class="btn btn-color btn-lg btn-block" ng-click="startSingleGame()">New Solo Game</button>
				<h4>Past Games</h4>
				<div class="panel panel-default">
					<div class="list-group panel-body">
						<div ng-repeat="game in singleGames" class="list-group-item" ng-click="gotoGame(game)">
							<h5 class="list-group-item-heading">
								<span><strong>{{game.statusText || game.status}}</strong></span>
								<span class="pull-right">{{game.time | date:'shortDate'}}
								</span>
							</h5>
						</div>
						<div ng-if="!singleGames.length" class="list-group-item disabled">
							<h5>No games have been played</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
