<div class="page-play-landing {{color.css_class}}">
	<nav class="navbar navbar-default" ng-init="collapse=true">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- <button type="button" class="navbar-toggle collapsed" ng-click="collapse = !collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> -->
				<a class="navbar-brand" href="#/">Associations</a>
			</div>
			<div class="navbar-collapse" ng-class="{collapse:collapse}">
				<ul class="nav navbar-nav">
					<!-- <li role="presentation" ng-class="{active:activePage=='Profile'}"><a ng-click="activePage='Profile'">Profile</a></li>
					<li role="presentation" ng-class="{active:activePage=='Account'}"><a ng-click="activePage='Account'">Account</a></li>
					<li role="presentation" ng-class="{active:activePage=='Survey'}"><a ng-click="activePage='Survey'">Survey <span class="badge">{{unansweredQuestions || ''}}</span></a></li>
					<li role="presentation" ng-class="{active:activePage=='Statistics'}"><a ng-click="activePage='Statistics'">Statistics</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
			<h3>Choose your opponents</h3>
		<div class="row">
			<div class="col-xs-12 col-sm-6">

			</div>
			<div class="col-xs-12 col-sm-6">

			</div>
		</div>
	</div>
</div>
