<div class="page-play-landing">
	<nav class="navbar navbar-default" ng-init="collapse=true">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">Associations</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<h3>Choose your opponents</h3>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<input type="text" ng-model="searchPlayers" class="form-control" placeholder="Name or email of player" />
				</div>
				<div class="form-group">
					<div class="panel panel-default">
						<div class="list-group panel-body">
							<div ng-repeat="player in foundPlayers" class="list-group-item" ng-include="'pages/playMulti/components/userRow/userRow.html'"></div>
							<div ng-if="!foundPlayers.length" class="list-group-item disabled">
								<h5>No players found</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							Recent opponents
						</div>
						<div class="list-group panel-body">
							<div ng-repeat="player in recentPlayers" class="list-group-item" ng-include="'pages/playMulti/components/userRow/userRow.html'"></div>
							<div ng-if="!recentPlayers.length" class="list-group-item disabled">
								<h5>No players found</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<button class="col-xs-12 btn btn-lg btn-color" ng-click="startGame()" ng-disabled="!hasPlayers()">Start Game!</button>
				</div>
			</div>
		</div>
	</div>
</div>
