.button-variant(@color; @background; @border) {
  &:hover,
  &:focus,
  &.focus,
  &:active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: lighten(@background, 10%);
        border-color: lighten(@border, 12%);
  }

  &.active {
      color: @background;
      background-color: @border;
      border-color: @border;

      &:hover,
      &:focus,
      &.focus,
      &:active,
      .open > .dropdown-toggle& {
        color: @background;
        background-color: lighten(@border, 10%);
            border-color: lighten(@border, 12%);
      }
  }

}

.user-color(@color) {

    @nav-color: lighten(@color, 10%);
	@hover-color: lighten(@nav-color, 10%);
	@active-color: @color;

    .text-color {
      .text-emphasis-variant(@nav-color);
    }
    .bg-color {
      .bg-variant(darken(@color, 10%));
    }

    .progress-bar-color {
      .progress-bar-variant(@color);
    }
    .alert-color {
        .alert-variant(darken(@color, 45%); @hover-color; @color);
    }

	.btn-color,
	&.btn {
		.button-variant(lighten(@color, 25%); @body-bg; @color);
	}

    div.network-navigation {
		color: @nav-color;
		&:hover, &:active {
			.text-shadow(0px 0px 8px @hover-color);
		}
    }

	._jsPlumb_connector * {
		stroke:@color;
		fill:@color;
	}

	.panel-color {
		.panel-variant(@color; @panel-default-text; @panel-default-heading-bg; @color);
	}
	.btn-link {
		color: @nav-color;
		&:hover, &:focus {
			color: @hover-color;
		}
	}
	a,
    a.color& {
		color: @nav-color;
		&:hover, &:focus {
			color: @hover-color;
		}
	}
	.nav {
		// Open dropdowns
		.open > a {
			&, &:hover, &:focus {
				border-color: @nav-color;
			}
		}
	}
	.nav-pills {
		> li {
			&.active > a {
				&, &:hover, &:focus {
					background-color: @nav-color;
				}
			}
		}
	}
	.dropdown-menu > .active > a {
		&, &:hover, &:focus {
			background-color: @nav-color;
		}
	}
	.form-control {
		.form-control-focus(@nav-color);
	}
	.ui-select-bootstrap .ui-select-choices-row.active>a {
		color: @text-color;
		background-color: @nav-color;
	}
	.navbar-default {
		.navbar-brand {
			color: @nav-color;
			&:hover, &:focus {
				color: @hover-color;
			}
		}

		.navbar-nav {
			> li > a {
				color: @nav-color;

				&:hover, &:focus {
					color: @hover-color;
				}
			}
			> .active > a {
				&, &:hover, &:focus {
					color: @active-color;
				}
			}
		}

		// Dropdown menu items
		.navbar-nav {
			// Remove background color from open dropdown
			> .open > a {
				&, &:hover, &:focus {
					color: @nav-color;
				}
			}

			@media (max-width: @grid-float-breakpoint-max) {
				// Dropdowns get custom display when collapsed
				.open .dropdown-menu {
					> li > a {
						color: @nav-color;
						&:hover, &:focus {
							color: @hover-color;
						}
					}
					> .active > a {
						&, &:hover, &:focus {
							color: @active-color;
						}
					}
				}
			}
		}
		.navbar-link {
			color: @nav-color;
			&:hover {
				color: @hover-color;
			}
		}

		.btn-link {
			color: @nav-color;
			&:hover, &:focus {
				color: @hover-color;
			}
		}
	}
}

.google-plus {
	color: @google-plus-color;
}
.facebook {
	color: @facebook-color;
}
.twitter {
	color: @twitter-color;
}

.neon-green, div.neon-green, p.neon-green {
	.user-color(@neon-green);
}
.neon-purple, div.neon-purple, p.neon-purple {
	.user-color(@neon-purple);
}
.neon-pink, div.neon-pink, p.neon-pink {
	.user-color(@neon-pink);
}
.neon-orange, div.neon-orange, p.neon-orange {
	.user-color(@neon-orange);
}
.neon-blue, div.neon-blue, p.neon-blue {
	.user-color(@neon-blue);
}
.neon-yellow, div.neon-yellow, p.neon-yellow {
	.user-color(@neon-yellow);
}
