@google-plus-color: #dd4b39;
@facebook-color: #3b5998;
@twitter-color: #00aced;

@neon-purple: #bc13fe;
@neon-blue: #13fdbc;
@neon-orange: #fbbb12;
@neon-red: #fc1353;
@neon-green: #54fd13;
@neon-yellow: #ccff15;
