div.network-navigation {

	@button-size: 36px;

	.text-overflow();

	.fa;
	font-size: 24px;
	padding: 6px;

    width:@button-size;
    height:@button-size;
    position:absolute;
    display:inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	&.up, &.down, &.left, &.right {
	    display: none;
		left: -9999;
	}
	&.zoomIn {
		&::before {
			content: @fa-var-search-plus;
		}
	    bottom:@padding-base-horizontal + @button-size;
	    right:@padding-base-horizontal;
	}
	&.zoomOut {
		&::before {
			content: @fa-var-search-minus;
		}
	    bottom:@padding-base-horizontal;
	    right:@padding-base-horizontal;
	}
	&.zoomExtends {
		&::before {
			content: @fa-var-crosshairs;
		}
	    bottom:(@padding-base-horizontal + @button-size)*2;
	    right:@padding-base-horizontal;
	}
}
