<div class="start-modal">
	<div class="modal-header" ng-if="!instructions.shown">
		<h3 class="modal-title">{{title}} <small><a href="" ng-click="instructions.shown = true"><i class="fa fa-question-circle"></i></a></small>

		</h3>
	</div>
	<div class="modal-body" ng-if="instructions.shown">
		<carousel interval="0">
			<slide ng-repeat="s in slides">
				<div class="instruction">
					<h4>
						{{s.text}}
					</h4>
					<img ng-if="s.image" src="{{s.image}}">
					<button ng-if="!s.image" class="btn btn-color btn-lg" ng-click="close()">Go!</button>
				</div>
			</slide>
		</carousel>
	</div>
	<div class="modal-footer" ng-if="!instructions.shown">
		<button class="btn btn-color" ng-click="close()">Go!</button>
	</div>
</div>
