<div class="start-modal">
	<div class="modal-header" ng-if="!instructions.shown">
		<h3 class="modal-title">{{title}} <small><a href="" ng-click="instructions.shown = true"><i class="fa fa-question-circle"></i></a></small>

		</h3>
	</div>
	<div class="modal-body" ng-if="instructions.shown">
		<carousel interval="0" disable-animation="true">
			<slide>
				<div style="width:200px; height:200px">
					something goes here
				</div>
			</slide>
			<slide>
				<div style="width:200px; height:200px">
					something else goes here
				</div>
			</slide>
			<slide>
				<div style="width:200px; height:200px">
					another something goes here
				</div>
			</slide>
		</carousel>
	</div>
	<div class="modal-footer">
		<button class="btn btn-color" ng-click="close()">Go!</button>
	</div>
</div>
