<div class="start-modal">
	<div class="modal-header" ng-if="!instructions.shown">
		<h3 class="modal-title text-center">{{title}}

		</h3>
	</div>
	<div class="modal-body" ng-if="instructions.shown">
		<carousel no-wrap="true">
			<slide ng-repeat="s in slides">
				<div class="instruction">
					<h4 ng-class="{end: !s.image}">
						{{s.text}}
					</h4>
					<img ng-if="s.image" src="{{s.image}}">
					<button ng-if="!s.image" class="btn btn-color btn-lg" ng-click="close()">Go!</button>
				</div>
			</slide>
		</carousel>
	</div>
	<div class="modal-footer" ng-if="!instructions.shown">
		<button class="btn btn-color center-block" ng-click="close()">Go!</button>
	</div>
</div>
