<div class="modal-header">
	<h3 class="modal-title">Login Required</h3>
</div>
<div class="modal-body">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Email login</h3>
		</div>
		<div class="panel-body">
			<form name="form">
				<div class="form-group" ng-class="{'has-error':form.email.$invalid}">
					<input type="email" class="form-control" id="emailInput" placeholder="Enter email" ng-model="email" required>
					<ul ng-show="form.email.$invalid" class="list-unstyled">
						<li ng-show="form.email.$error.required">* required</li>
						<li ng-show="form.email.$error.email">* invalid</li>
					</ul>
				</div>
				<div ng-show="passwordRequired" class="form-group" ng-class="{'has-error':badPassword}">
					<label for="passwordInput">Password</label>
					<input type="password" class="form-control" id="passwordInput" placeholder="Password" ng-model="password">
				</div>
				<button ng-disabled="form.$invalid" class="btn btn-primary pull-right" ng-click="submitEmail()">OK</button>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Social media login</h3>
		</div>
		<div class="panel-body">
			<button tooltip="Google" tooltip-append-to-body="true" tooltip-animation="false" class="btn btn-default" ng-click="login('google')"><i class="fa fa-google-plus google-plus"></i></button>
			<button tooltip="Facebook" tooltip-append-to-body="true" tooltip-animation="false" class="btn btn-default" ng-click="login('facebook')"><i class="fa fa-facebook facebook"></i></button>
			<button tooltip="Twitter" tooltip-append-to-body="true" tooltip-animation="false" class="btn btn-default" ng-click="login('twitter')"><i class="fa fa-twitter twitter"></i></button>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
