<div class="playerLevel" ng-controller="PlayerLevelCtrl as ctrl">
	<div class="col-xs-12">
		<h2>
			Level
		</h2>
	</div>
	<div class="col-sm-9">
		<p>
			Here is some information about your level.  Here is some information about your level.  Here is some information about your level.  Here is some information about your level.  Here is some information about your level.
		</p>
	</div>
	<div class="col-sm-3 text-center">
		<span class="fa-stack fa-lg level">
			<i class="fa fa-star fa-stack-2x level-outline"></i>
			<i class="fa fa-stack-1x level-text">{{ctrl.user.level}}</i>
		</span>
	</div>
</div>
