<div class="page-explore-words">

	<a class="navbar-brand" href="#/"><i class="fa fa-arrow-left"></i></a>

	<div id="enterSingleWord" class="node-enter-word" ng-class="{source:mode == 2}">
		<word-entry selected="selectedWord" class="select-word" placeholder-text="'Enter a word'" ></word-entry>
	</div>
	<div ng-if="noData" class="no-data">
		<h3 ng-if="!selectedOtherWord.word">No data was found for {{selectedWord.word}}.</h3>
		<h3 ng-if="selectedOtherWord.word">No data was found to link {{selectedWord.word}} and {{selectedOtherWord.word}}.</h3>
	</div>

	<div ng-class="{loading:loading}" class="loading-box l1">

	</div>
	<div ng-class="{loading:loading}" class="loading-box l2">

	</div>
	<div ng-class="{loading:loading}" class="loading-box l3">

	</div>
	<div id="enterOtherWord" class="node-enter-word target" ng-show="mode == 2">
		<word-entry selected="selectedOtherWord" class="select-word" placeholder-text="'Enter another word'" ></word-entry>
	</div>


	<div class="btn-group mode" >
		<button ng-class="{active:mode == 1}" ng-click="mode = 1; collapse = true;" class="btn btn-color">Word</button>
		<button ng-class="{active:mode == 2}" ng-click="mode = 2; collapse = true;" class="btn btn-color">Path</button>
	</div>

	<div class="context-controls well" ng-if="selected">
		<h5>
			<strong>
				{{selected.label}}
				<a href="" ng-click="onGraphClick(selected.label)"><i class="fa fa-search"></i></a>
			</strong>
		</h5>
	</div>

	<div word-graph
		graph-model="model"
		graph-config="diagramConfig"
		graph-on-click="onGraphClick(word)"
		graph-selected="selected"
		word-id="'enterSingleWord'"
		other-word-id="'enterOtherWord'"
		style="width: 100%; height: 100%;"></div>
</div>
