<div class='page-explore-words {{color.css_class}}'>

	<nav class="navbar navbar-default" ng-init="collapse=true">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" ng-click="collapse = !collapse">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#/">Associations</a>
			</div>

			<div class="navbar-collapse" ng-class="{collapse:collapse}">
				<ul class="nav navbar-nav navbar-right">
					<li ng-class="{active:mode == 1}"><a href="" ng-click="mode = 1; collapse = true;"><span>One Word</span></a></li>
					<li ng-class="{active:mode == 2}"><a href="" ng-click="mode = 2; collapse = true;"><span>Two Words</span></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="enterSingleWord" class="node-enter-word" ng-class="{source:mode == 2}">
		<select-word selected="selectedWord" class='select-word' placeholderText="'Enter a word'"></select-word>
	</div>
	<div ng-if="noData" class="no-data">
		<h3 ng-if="!selectedOtherWord.word">No data was found for {{selectedWord.word}}.</h3>
		<h3 ng-if="selectedOtherWord.word">No data was found to link {{selectedWord.word}} and {{selectedOtherWord.word}}.</h3>
	</div>

	<div ng-class="{loading:loading}" class='loading-box l1'>

	</div>
	<div ng-class="{loading:loading}" class='loading-box l2'>

	</div>
	<div ng-class="{loading:loading}" class='loading-box l3'>

	</div>
	<div id="enterOtherWord" class="node-enter-word target" ng-show="mode == 2">
		<select-word selected="selectedOtherWord" class='select-word'></select-word>
	</div>
	<div word-graph
		graph-model="model"
		graph-config="diagramConfig"
		graph-on-click="onGraphClick(word)"
		word-id="'enterSingleWord'"
		other-word-id="'enterOtherWord'"
		style="width: 100%; height: 100%;"></div>
</div>
