<div class="select-player">
	<div class="modal-header">
		<h3 class="modal-title">Select Players</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<input type="text" ng-model="searchPlayers" class="form-control" placeholder="Name or email of player" />
		</div>
		<div class="form-group">
			<div class="panel panel-default">
				<div class="list-group panel-body">
					<div ng-repeat="player in foundPlayers" class="list-group-item">
						<div class="row player-row" ng-click="togglePlayer(player)" ng-class="{disabled:full() && !playerSelected(player)}">
							<div class="col-xs-10 vcenter">
								<div class="row {{player.color.css_class}}" ng-class="{selected: playerSelected(player), available: !playerSelected(player)}">
									<div class="col-sm-7 alias player-name">
										<span class="text-color"><i class="fa fa-user fa-fw"></i>&nbsp;</span>
										<span>{{player.alias}}</span>
									</div>
									<div class="col-sm-5 real player-name">
										<span class="text-color visible-xs-inline"><i class="fa fa-user fa-fw icon-invisible"></i>&nbsp;</span>
										<small>{{player.real}}</small>
									</div>
								</div>
							</div><!--
						--><div class="col-xs-2 vcenter">
								<button class="btn btn-xs btn-color pull-right" ng-disabled="full() && !playerSelected(player)">
									<i ng-class="{'icon-invisible':!playerSelected(player)}" class="fa fa-check"></i>
								</button>
							</div>
						</div>
					</div>
					<div ng-if="!foundPlayers.length" class="list-group-item disabled">
						<h5>No players found</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="col-xs-12 btn btn-lg btn-color" ng-click="startGame()" ng-disabled="!hasPlayers()">Start Game!</button>
	</div>
</div>
