#navContainer {
	width: 100%;
	height: 100%;
	position: relative;
}

#navContainer .node-title {
    padding: 5px;
	background: white;
	font: bold 30px arial, sans-serif;
    border-radius: 25px;

	position: absolute;
	z-index:20;
}

#navContainer .node-word {
    padding: 5px;
	background: lightgrey;
	font: 12px arial, sans-serif;
    border-radius: 5px;

	position: absolute;
	z-index:20;
}

#navContainer .node-link {
    padding: 5px;
	background: white;
	font: 18px arial, sans-serif;
    border-radius: 10px;

	position: absolute;
	z-index:20;
}
._jsPlumb_connector { z-index:4; }
._jsPlumb_connector * { stroke:white; fill:white; stroke-width:4px }

._jsPlumb_endpoint { z-index:5; }
._jsPlumb_endpoint * { stroke:white; fill:white }
._jsPlumb_overlay { z-index:6; }

@media (min-width: 768px) {
    #navContainer .node-title {
        padding: 10px;
    }

    #navContainer .node-word {
        padding: 10px;
    }

    #navContainer .node-link {
        padding: 10px;
    }
}

@media (min-width: 992px) {
    #navContainer .node-title {
        padding: 15px;
    }

    #navContainer .node-word {
        padding: 15px;
    }

    #navContainer .node-link {
        padding: 15px;
    }
}

@media (min-width: 1200px) {
    #navContainer .node-title {
        padding: 20px;
    }

    #navContainer .node-word {
        padding: 20px;
    }

    #navContainer .node-link {
        padding: 20px;
    }
}
