#navContainer {
	width: 100%;
	height: 100%;
	position: relative;
}

#navContainer .node-title {
	width: 300px;
	height: 120px;
	background: white;

	text-align: center;
	line-height: 120px;
	position: absolute;
}
#navContainer .node-title label {
	font: bold 30px arial, sans-serif;

	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#navContainer .node-word {
	width: 100px;
	height: 30px;
	background: grey;

	text-align: center;
	line-height: 30px;
	position: absolute;
}
#navContainer .node-word label {
	font: 12px arial, sans-serif;

	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#navContainer .node-link {
	width: 100px;
	height: 100px;
	background: white;

	text-align: center;
	line-height: 100px;
	position: absolute;
}
#navContainer .node-link a {
	font: 18px arial, sans-serif;

	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
