.finish-modal {
	.title {
		.transition(.4s);
	}

	.gauge g.pointer {
		fill: #bbb;
		stroke: #999;
	}

	.gauge g.label text {
		text-anchor: middle;
		font-size: 28px;
		font-weight: bold;
		fill: #bbb;
	}
}
