<div class="finish-modal">
	<div class="modal-body">
		<div ng-show="show.instructions">
			<h4>
				Congrats!  You finished a game!
			</h4>
			<p>
				Feel free to explore the interactive graph.  You can get more information about words by clicking them.
			</p>
			<dl class="dl-horizontal">
				<dt><i class="fa fa-expand text-color"></i></dt>
				<dd>This will expand the word in place to see what other people associated with it</dd>
				<dd>(You can double click a word to do the same thing)</dd>
				<dt><i class="fa fa-search text-color"></i></dt>
				<dd>This will take you to the word exploration page</dd>
			</dl>
		</div>
		<div ng-show="!show.instructions" class="container-fluid">
			<div ng-show="show.multi">
				<h2 class="text-center">
					{{show.winner?'Winner!':'...'}}
				</h2>
				<div class="row multi-players" ng-class="{winner:player.winner && show.winner}" ng-repeat="player in players | orderBy:'-gameScore'">
					<div class="col-xs-3 player-name">
						<span><i class="fa fa-star"></i> {{player.alias}} <i class="fa fa-star"></i></span>
					</div>
					<div class="col-xs-9 {{player.color.css_class}}">
						<div class="progress">
							<div class="progress-bar progress-bar-color"
								role="progressbar"
								aria-valuenow="{{player.score}}"
								aria-valuemin="0"
								aria-valuemax="{{winnerScore}}" style="min-width: 2em; width:{{100*(player.score/winnerScore)}}%">
							{{player.score | number:0}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="!show.multi">
				<div class="row">
					<div class="col-sm-6 text-center stat" ng-class="{'muted':step < 1}">
						<h3 class="title">
							Score
						</h3>
						<h2 class="text-color">
							{{score | number:0}}
						</h2>
					</div>

					<div class="col-sm-6 text-center stat" ng-class="{'muted':step < 2}">
						<h3 class="title">
							Weird-o-meter
						</h3>
						<div class="normal" normal normal-value="normal" normal-color="color">

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center stat" ng-class="{'muted':step < 3}">
						<h3 class="title">
							Level
						</h3>
						<div level-progress level="level"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button ng-if="!show.instructions && !show.multi" class="btn btn-color" ng-click="close()">Close</button>
		<button ng-if="!show.instructions && show.multi" class="btn btn-color" ng-click="show.multi = false">Your stats</button>
		<button ng-if="show.instructions" class="btn btn-color" ng-click="show.instructions = false">Got it!</button>
	</div>
</div>
